<div class="row">
  <div *ngIf="!showDetails" class="col-md-1 mx-auto my-4 text-center">
    <button class="btn btn-success btn-circle btn-circle-sm m-1"
            (click)="openCreate()">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <app-detector-details *ngIf="showDetails" class="col-md-12"
                        [detector]="detailedDetector"
                        (closeEventEmitter)="closeDetails()"
                        (editedEventEmitter)="editEventHandle($event)"
                        (createdEventEmitter)="createEventHandle($event)"
  ></app-detector-details>
</div>


<div class="card">
  <div class="m-1">
    <dx-data-grid class="w-100"
                  id="gridContainer"
                  [customizeColumns]="customizeColumns"
                  [dataSource]="detectors"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [columnAutoWidth]="true"
    >
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-paging [pageSize]="30"></dxo-paging>
      <dxi-column dataField="telemetricName" sortOrder="desc"></dxi-column>
      <dxi-column dataField="type"></dxi-column>
      <dxi-column dataField="action.type"></dxi-column>
      <dxi-column dataField="executionInterval" cellTemplate="intervalCell"></dxi-column>
      <div *dxTemplate="let cData of 'intervalCell'">
        {{cData.value | durationFormat: 'ms':'hhmmss'}}
      </div>
      <dxi-column dataField="enabled" caption="Running?" cellTemplate="runningC"></dxi-column>
      <div *dxTemplate="let cData of 'runningC'">
        <i *ngIf="cData.data.enabled" class='fa fa-check-circle' style="font-size: 30px; color: green"></i>
        <i *ngIf="!cData.data.enabled" class='fa fa-times-circle' style="font-size: 30px; color: red"></i>
      </div>
      <dxi-column dataField="enabled" caption="Toogle" cellTemplate="enabledC"></dxi-column>
      <div *dxTemplate="let cData of 'enabledC'">
        <app-detector-toggle-button
          [detectorId]="cData.data.id"
          [state]="cData.data.enabled"
          (toggledEventEmitter)="handleToggleEvent($event)"
        ></app-detector-toggle-button>
      </div>
      <dxi-column caption="Details" cellTemplate="detailsC" alignment="center"></dxi-column>
      <div *dxTemplate="let cData of 'detailsC'">
        <app-detector-details-button [detectorId]="cData.data.id" (openDetailsEventEmitter)="openDetails($event)"></app-detector-details-button>
      </div>
      <dxi-column caption="Delete" cellTemplate="deleteC" alignment="center"></dxi-column>
      <div *dxTemplate="let cData of 'deleteC'">
        <app-detector-delete-button [detectorId]="cData.data.id" (deleteEventEmitter)="deleteDetector($event)"></app-detector-delete-button>
      </div>
      app-detector-delete-button

    </dx-data-grid>
  </div>

</div>
