<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h5 class="card-title">{{chartInfo.chartName}}</h5>
                <p class="card-category my-1" *ngIf="chartInfo.metricName">Metrics: {{chartInfo.metricName}}</p>
                <p class="card-category my-1" *ngIf="chartInfo.clientId">ClientId: {{chartInfo.clientId}}</p>
            </div>
            <div class="card-body ">
                <canvas #chart width="400" height="100"></canvas>
            </div>
        </div>
    </div>
</div>