
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-5">
                <h5 class="card-title">{{chartInfo.chartName}}</h5>
            </div>
            <div *ngIf="showButtons" class="col-2 text-center">
                <button type="button" class="btn btn-primary" (click)="openDetails()">Details</button>
            </div>
            <div *ngIf="showButtons" class="col-5 text-right">
                <button type="button" class="btn btn-danger" (click)="deleteChart()">Delete</button>
                <button type="button" class="btn" (click)="editChart()">Edit</button>
            </div>
        </div>
        <p class="card-category my-1" *ngIf="chartInfo.metricName">Metrics: {{chartInfo.metricName}}</p>
        <p class="card-category my-1" *ngIf="chartInfo.clientId">ClientId: {{chartInfo.clientId}}</p>
    </div>
    <div class="card-body ">
        <canvas #chart width="400" height="100"></canvas>
    </div>
</div>
